
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark bg-primary" [containerInside]="false">
    <mdb-navbar-brand><a class="navbar-brand" href="#">Shorten URL</a></mdb-navbar-brand>
</mdb-navbar>

<div class = "container">
    <mdb-card>
        <!--Card image-->
        <!--Card content-->
        <mdb-card-body>

          <!--Title-->
          <mdb-card-title>
            <h4>URL Shortener</h4>
          </mdb-card-title>

          <!--Text-->
          <div class="md-form">
              <input mdbInput type="text" name="text" id="form1" (onkeypress)="isUrl()"  [(ngModel)]="url"class="form-control">
              <label for="form1" class="">Enter URL to be shrunk</label>
            </div>
            <div *ngIf="loading"class="row">
              <img  class="spinner" src = '../../assets/spinner2.gif'>
            </div>
            <h5 *ngIf="hashasLink">Copy the Link Below</h5>
            <p  *ngIf="hashasLink"> https://shrinkurl.azurewebsites.net/{{newURL}} </p>

          <button mdbBtn type="button" gradient="blue" rounded="true" mdbWavesEffect  (click)="ShortenURL()" >Shorten!</button>
          <button  *ngIf="hashasLink" mdbBtn type="button" gradient="purple" rounded="true" mdbWavesEffect (click)="followLink()" >Follow Link</button>
        </mdb-card-body>
      </mdb-card>

</div>


